.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #D2042D;
  font-family: ***REMOVED***;
  text-align: left;
  padding: 50px;
}

a {
  padding: 10px 5px;
  margin: 5px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

a:hover {
  background-color: #FFFFFF;
  color: black
}

