.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #04C2DC;
  font-family: Roboto;
  text-align: center;
  padding: 50px;
}

a {
  padding: 10px 5px;
  margin: 5px;
  background-color: #8AE9F6;
  color: black;
  text-decoration: none;
  border-radius: 50px;
}

a:hover {
  background-color: #078B9C;
}

[id^="tab"] {
  display: none;
}

#home:checked ~ #tab-home,
#socials:checked ~ #tab-socials,
#projects:checked ~ #tab-projects {
  display: block;
}


